{% if page.social %}


	<ul class="social-media-container">

		<li>
			<!--Twitter Share-->
			<a href="https://twitter.com/share?
				text={{ page.title }}&
				url={{ site.url }}{{ site.baseurl }}{{ page.url }}&
				via={{ site.twitter_username }}" target="_blank" title="Share on Twitter">Twitter</span></a>
		</li>

		<li>
			<!--Facebook Share **FIX**-->
			    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
		</li>

		<li>
			<!--Google Plus Share-->
			<a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">G+</a>
		</li>
		
	</ul>

	

{% endif %}